
    <section *ngIf="member" id="member-detail" class="position-absolute top-0 start-0 w-100 h-100" >
        <div class="col-6 h-50 position-absolute top-50 start-50 translate-middle bg-light-subtle rounded-4 p-5">
            <h2 class="text-center">Détails sur {{member.nom }}</h2>
            <div>
                <p class="d-flex justify-content-around">
                    <label for="nom-membre" class="col-3">NOM: </label>
                    <input id="nom-membre" [(ngModel)]="member.nom" placeholder="nom du membre"
                            class="col-4">
                </p>
                <p class="d-flex justify-content-around">
                    <label for="box-membre" class="col-3">BOX: </label>
                    <input id="box-membre" [(ngModel)]="member.box" placeholder="box du membre"
                            class="col-4">
                </p>
                <p class="d-flex justify-content-around">
                    <label for="def-membre" class="col-3">DEF: </label>
                    <input id="def-membre" [(ngModel)]="member.def" placeholder="def du membre"
                            class="col-4">
                </p>
            </div>
        </div>
    </section>